<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'liargame/styles/style.css' %}">
</head>
<body>
    <h2>비밀번호 변경</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">비밀번호 변경</button>
    </form>

    <a href="{% url 'lobby' %}">취소</a> <!-- 로비로 돌아가는 버튼 -->
</body>
</html>
