<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게임 페이지</title>
    <link rel="stylesheet" href="{% static 'liargame/styles/liargame_style.css' %}">
</head>
<body>
    <!-- 네비게이션 -->
    <nav>
        <ul>
            <li><a href="{% url 'signup' %}">회원가입</a></li>
            {% if user.is_authenticated %}
                <li>
                    <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; color: white; cursor: pointer;">로그아웃</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'signin' %}">로그인</a></li>
            {% endif %}
            <li><a href="{% url 'game' %}">대기실</a></li>
            <li><a href="{% url 'create_room' %}">방만들기</a></li>
        </ul>
    </nav>

        <!-- Timer Bar -->
    <div class="bar-container" id="timer-bar">
        <span id="timer">00:00</span>
        <span id="alert-message">게임 준비 중...</span>
    </div>

    <!-- Timer Controls -->
    <div id="timer-controls">
        <button id="start-timer-button">타이머 시작</button>
        <button id="stop-timer-button" disabled>게임 중단</button>
        <button id="restart-timer-button" disabled>재시작</button>
        <button id="reset-timer-button">Reset Timer</button>    
        <button id="distribute-topic-button">제시어 배포</button>
        <script src="/static/liargame/scripts/liargame_script.js"></script>
    </div>

    <!-- 방장의 Topic 선택 모달 -->
    <div id="topic-modal" class="modal">
        <div class="modal-content">
            <h2>제시어 선택</h2>
            <label for="topic-select">Topic을 선택하세요:</label>
            <select id="topic-select">

            </select>
            <button id="confirm-topic-button">확인</button>
            <button id="close-topic-modal">닫기</button>
        </div>
    </div>

    <!-- 참가자 제시어 모달 -->
    <div id="participant-modal" class="modal">
        <div class="modal-content">
            <p id="participant-modal-message"></p>
            <button id="close-modal-button">닫기</button>
        </div>
    </div>


    <div class="game-container">
        <!-- 왼쪽 패널 -->
        <div class="participants-panel">
            <div class="participants-container">
                <h2>참가자 목록</h2>
                <div id="participants-container"></div>
            </div>
            <div class="participant-logs">
                <h2>참가자 글</h2>
                <div id="participant-logs-container"></div>
            </div>
        </div>
    
        <!-- 오른쪽 패널 -->
        <div class="interaction-panel">
            <div class="chat-container">
                <h3>실시간 채팅</h3>
                <div class="chat-box" id="chat-log">
                </div>
                <div class="chat-input">
                    <input type="text" id="chat-message-input" placeholder="메시지를 입력하세요...">
                    <button id="chat-message-submit">전송</button>
                </div>
            </div>
            <div class="vote-container">
                <h2>투표</h2>
                <!-- 참가자 목록 -->
                <div id="vote-participants"></div>
                <!-- 투표 결과 표시 -->
                <div id="vote-result"></div>
                <!-- 결과 보기 버튼 추가 -->
            </div>
        </div>
    </div>
    <!-- 숨겨진 데이터 -->
    <div id="user-nickname" style="display: none;">{{ user.nickname }}</div>
    <div id="room-id" style="display: none;">{{ room.room_number|default:"" }}</div>

    <script src="{% static 'liargame/scripts/liargame_script.js' %}"></script>
</body>
</html>
